<!DOCTYPE html>

<html>
<header>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <img src="~/Images/11a.png" />

</header>
<link href="~/content/login.css" rel="stylesheet" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<nav>


    @Html.ActionLink("Logout", "Logout", new { }, new { @class = "btn btn-primary btn-lg" })



</nav>


<body>

    <div>
        @RenderBody()
    </div>
</body>

</html>
